footer.neutral.p-top.p-bottom.simple-footer
  div.con
    small.small(style="margin-right:15px;") &copy; Favatron 2016 
    small.small Created by 
      a(href="http://scottksmith.com", target="_blank") Scott Smith
    nav
      ul
        li
          a(href="mailto:contact@favatron.com", target="_blank" id="contact")
            i.icon-small(aria-hidden="true", data-icon="\ue007")
        li
          a(href="https://twitter.com/favatron", target="_blank")
            i.icon-small(aria-hidden="true", data-icon="\ue0fc")
        li
          a(href="https://www.facebook.com/favatron", target="_blank")
            i.icon-small(aria-hidden="true", data-icon="\ue0fe")
        li
          a(href="https://plus.google.com/+Favatrons", target="_blank", rel="publisher")
            i.icon-small(aria-hidden="true", data-icon="\ue0d1")