<?xml version="1.0" encoding="utf-8"?>
  <configuration>
    <system.webServer>         
      <handlers>
        <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
      </handlers>
      <rewrite>
        <rules>
          <rule name="RedirectToHttps" stopProcessing="true">
            <match url="(.*)"/>
            <conditions>
              <add input="{HTTPS}" pattern="Off"/>
              <add input="{REQUEST_METHOD}" pattern="^get$|^post$|^put$|^delete$|^head$" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
          </rule>
          <rule name="DynamicContent">
            <match url="/*" />
            <action type="Rewrite" url="app.js"/>
          </rule>
        </rules>
      </rewrite>
      <httpErrors existingResponse="PassThrough"/>
    </system.webServer>
  </configuration>